hs_err_pid*
*.DS_Store
*.DS_Store?
*.tern-project
*.idea
*.iml
*.classpath
*.project

*.externalToolBuilders
*.mymetadata
*.checkstyle
/.settings/

*.class
*.war
*.zip
*.rar

/indexes/
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/userfiles/
/target/
/logs/
/temp/
*/Debug/
*/Release/

#/ipo-web-utils/
